html {
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  background-image: url("../images/foodbackground.png");
  background-color: #CAEDEB;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

a, a:hover, a:active{
    text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #ffffff;
  padding: 20px;
  opacity: 95%;
}

ul.HeadLine{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
}

li.HeadLine.Page{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}